# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dados
06_expectativa-de-vida/dados/limpos/obitos-resid_por_idade_distrito-resid_2010-2019_limpo.csv
90_dados/SIRGAS_SHP_distrito
.01_financiamento-eleitoral/dados/brutos
